@charset "utf-8";
@import "../utility/style";
@import "./tabs/style";
@import "../../bower_components/font-awesome/css/font-awesome.css";

$COLOR: #aaa;

:host {
	@include host;
}

//::-webkit-scrollbar {
//	width: 0;
//}

// 没有更好的办法来让高度100%
.editor {
	position: absolute;
	top:      0;
	bottom:   0;
	left:     0;
	right:    0;

	.ace {
		position: absolute;
		top:      26px;
		bottom:   0;
		left:     0;
		right:    0;
	}

	.editor-tab {
		height: 25px;
	}

	.ace_content {
		//	//overflow-x: hidden;
		//	//overflow-y: hidden;
		//position:   absolute;
		//top:        0;
		//bottom:     0;
		//left:       0;
		//right:      0;
		//min-height: 100%;
	}
}