@charset "utf-8";

@import (less) "../../bower_components/font-awesome/css/font-awesome.css";
.everything {
	height:      100%;
	line-height: 20px;

	i.views {
		.fa;
		&:extend(.fa-bars all);
		margin-left: 5px;
		cursor: pointer;
	}
}