div.everything
    i.views(title="打开视图集合")
    ul.menu
        li
            i
            span
        li
            i
            span
        li
            i
            span
        li
            i
            span
