@charset "utf-8";
@import "../../bower_components/normalize.css/normalize.css";
@import "../../bower_components/font-awesome/css/font-awesome.css";
@import (less) "../../bower_components/font-awesome/css/font-awesome.css";
.everything {
	height:      100%;
	line-height: 20px;
	position:    relative;

	i.views {
		.fa;
		&:extend(.fa-bars all);
		margin-left: 5px;
		cursor:      pointer;
	}

	.menu {
		position:   absolute;
		left:       5px;
		bottom:     25px;
		list-style: none;
		margin:     0;
		padding:    0;
		width:      200px;
		background: white;
		border:     1px solid #ccc;
		display:    none;

		li {
			cursor: pointer;
		}
	}
}