@charset "utf-8";

tabs {
	display:       block;
	border-bottom: 1px solid #ccc;
	padding:       0;
	margin:        0;
	height:        25px;

	tab {
		display:      inline-block;
		border-right: 1px solid #ccc;
		height:       100%;
		list-style:   none;
		width:        100px;
		text-align:   center;

		&[active] {
			background: orangered;
			color:      white;
		}

		.close {
			cursor: pointer;
		}
	}
}