div.top-nav
    ul.list
        li.file File
        li.git Git
        li.about About

    //span.fa.fa-close.close
    //span.fa.fa-save.save

    ul.file-menu.menu
        li.new-project New Project...
        li.open-project Open Project...
        li.reopen Reopen Project

    ul.git-menu.menu
        li commit
        li push

    ul.about-menu.menu
        li help
        li about

    include ../create-project-dialog/index