.linear, .box {
  position: absolute;
  border: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto; }

* {
  margin: 0;
  padding: 0; }

body {
  height: 100%; }

.everything {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto; }
  .everything .tree {
    border-top: 1px solid #000; }
  .everything .editor {
    border-top: 1px solid #000; }
    .everything .editor .ace {
      height: 100%; }
  .everything .preview {
    border-top: 1px solid #000; }
