@charset "utf-8";
@import "../../bower_components/absolute-layout/src/absolute-layout";
@import "../../bower_components/jquery-box-layout/src/style/style";
@import "../markdown-style/style/style";
@import "../top-nav/index";

$COLOR: #aaa;

* {
	margin: 0;
	padding: 0;
}

.c-hide {
	display: none;
}

body {
	height: 100%;
	font-familiy: Arial, '微软雅黑';
}

::-webkit-scrollbar {
	display: none;
}

.everything {
	@include maximize;

	.explorer {
		border-top: 1px solid #000;

		.title {
			border-bottom: 1px solid #ccc;
		}
	}

	.editor {
		border-top: 1px solid #000;
		border-left: 1px solid $COLOR;

		.ace {
			height: 100%;
		}
	}

	.preview {
		border-top: 1px solid #000;
		border-left: 1px solid $COLOR;
		padding: 10px;
		@include slide-vertical;
		@extend .md-content;
	}
}

//.everything {
//	display: -webkit-box;
//	-webkit-box-orient: vertical;
//	width: 100%;
//	height: 100%;
//
//	.top-nav {
//		display: -webkit-box;
//		height: 30px;
//	}
//
//	.d1 {
//		display: -webkit-box;
//		-webkit-box-flex: 1;
//		height: 100%;
//
//		.explorer {
//			display: -webkit-box;
//			width: 200px;
//		}
//
//		.editor {
//			display: -webkit-box;
//			-webkit-box-flex: 1;
//		}
//
//		.preview {
//			display: -webkit-box;
//			-webkit-box-flex: 1;
//		}
//	}
//}