extends manual-template
block title
    title NEVE - editor

block link
    link(rel="stylesheet" href="index.css")

block body
    div.everything

block script
    script.
        require([
            'src/home/index',
            'backbone',
            'backbone-relational'
        ], function (index) {
            index.init()
        })





