@charset "utf-8";
@import "../../bower_components/absolute-layout/src/absolute-layout";
@import "../../bower_components/jquery-box-layout/src/style/style";
@import "../markdown-style/style/style";
@import "../top-nav/index";

$COLOR: #aaa;

body {
	height: 100%;
}

::-webkit-scrollbar {
	display: none;
}

.everything {
	@include maximize;

	.explorer {
		border-top: 1px solid #000;
	}

	.editor {
		border-top: 1px solid #000;
		border-left: 1px solid $COLOR;

		.ace {
			height: 100%;
		}
	}

	.preview {
		border-top: 1px solid #000;
		border-left: 1px solid $COLOR;
		padding: 10px;
		@include slide-vertical;
		@extend .md-content;
	}
}