doctype html
html
    head
        meta(charset="utf-8")
        // This is abount title
        block title
            title 界面组件手工测试
        //link(rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css")
        //link(rel="stylesheet" href="../../bower_components/jquery-ui/themes/blitzer/jquery-ui.min.css")

        // This is about link
        block link
    body
        // This is about content body
        block body

        // fix conflict in node and browser
        script.
            window.requireNode = window.require
            window.require = undefined

        // This components can not package them to AMD for now
        //script(src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,file:///c:/project/neve/src/mathjax-config/config")
        script(src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")

        // startup
        script(src="../../bower_components/requirejs/require.js")
        script(src="../../src/home/requirejs-config.js")

        // This is about script
        block script
      