@charset "utf-8";

.editor-tab {
	border-bottom: 1px solid #ccc;

	ul {
		height: 30px; // 不能自适应

		li {
			display: inline-block;
			height: 100%;
			list-style: none;
			width: 100px;
			border-right: 1px solid #ccc;
		}

		.close {
			cursor: pointer;
		}
	}
}