extends ../../src/home/manual-template

block link
    link(rel="stylesheet" href="../../src/create-project-dialog/index.css")

block body
    include ../../src/create-project-dialog/index

block script
    script.
        require([
            'test/create-project-dialog/manual',
            'backbone',
            'backbone-relational'
        ], function (index) {
            index.init()
        })

