div.create-project-dialog.mfp-hide
    div.form-horizontal.container-fluid
        div.row
            h4.col-md-12 Create New Project
        div.form-group
            label.col-md-2.control-label Name
            div.col-md-10
                input.form-control.name(type="text")
        div.form-group
            label.col-md-2.control-label Location
            div.col-md-9
                input.form-control.location(type="text" value="d:/" disabled)
            div.col-md-1
                button.btn.btn-default.location-select ...
        div.row
            p.col-md-offset-2.col-md-10.error-msg.text-danger(style="display: none")
        div.form-group
            div.col-md-offset-2.col-md-10
                button.btn.btn-primary.ok OK
                button.btn.btn-default.cancel Cancel





