@charset "utf-8";

.window {
	display:        flex;
	flex-direction: column;

	h1 {
		flex:        0 25px;
		font-weight: normal;

		right-icons {
			float: right;

			close {
				color:  red;
				cursor: pointer;
			}
		}
	}

	.content {
		flex: 1;
	}

}